---
layout: default
---

<p>
Glad you found me. I'm a Senior Software Engineer, <a
	href="http://www.fabienpenso.com">a photographer</a>, and I love traveling. I'm
always busy on various projects, usually using iOS and Ruby on Rails, and I'm
available for you. This is my blog.
</p>

  {% for post in site.posts limit:20%}
    {% unless post.next %}
		<h3 class="date_title">{{ post.date | date: '%Y' }}</h3>
      <ul class="this" id="posts">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3 class="date_title">{{ post.date | date: '%Y' }}</h3>
        <ul class="past" id="posts">
      {% endif %}
    {% endunless %}
		<li>
		<div class="pull-right post_tags hidden-phone">
			{{ post.categories | join: ', '}}
		</div>
		<time>{{ post.date | date:"%d %b" }} </time>
		›
		<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
  {% endfor %}
</ul>
