---
layout: default
---

<div id="post" itemscope="" itemtype="http://schema.org/BlogPosting">

	{% if page.photo %}
		<img src="{{ page.photo }}" alt="top photo" itemprop="image"/>
	{% endif %}

	<h1 itemprop="name">{{ page.title }}</h1>

	<div itemprop="articleBody">
		{{ content }}
	</div>

	<div class="clearfix"></div>

	<div id="page-navigation"> 
		<div class="clearfix">&nbsp;</div> 
		<div class="pull-left"> 
			{% if page.previous.url %} 
			<a href="{{page.previous.url}}" title="Previous Post: 
				{{page.previous.title}}"><i class="icon-double-angle-left"></i> {{page.previous.title}}</a> 
			{% endif %} 
		</div> 

		<div class="pull-right"> 
			{% if page.next.url %} 
			<a href="{{page.next.url}}" title="next Post: 
				{{page.next.title}}">{{page.next.title}} <i class="icon-double-angle-right"></i></a> 
			{% endif %} 
		</div> 
		<div class="clearfix">&nbsp;</div> 
	</div> 

	<div id="footer" class="muted">
		<div class="pull-right">
			<i class="icon-tags"></i> {{ page.categories | join: ', ' }}
		</div>
		<span itemscope="" itemtype="http://schema.org/Person">
			Published by 
			<span itemprop="author">
				<span itemprop="name">
					Fabien Penso
				</span>
			</span>
		</span>
		— 
		<time datetime="{{ page.date | date_to_xmlschema}}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
	</div>

</div>
